body{
    background: url(../imgs/IMG.JPG) no-repeat center;
    
}
input{
    margin-top: 20px;
    width: 200px;
    height: 30px;
    border-radius:5px ;
    border: 1px #7e57c2 solid;
}
form{
    margin: 60px auto;
    width: 350px;
    height: 350px;
    text-align: center;
    box-shadow: 1px 1px 10px 2px black;
    border-radius:5px;
}

div div{
    color: red;
    height: auto;
    font-size: 12px;
    margin-left: -40px;
}
#button{
    margin-top:80px;   
    background-color: rgba(16, 141, 214, 0.3);
    border: 1px #7e57c2 solid;
    color: white;
    height: 35px;
    font-size: 20px;
}